<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/api/question/6116837fea142b7c28444384/answer" method="POST">
        <input type="text" name="text">
        <button>Submit</button>
    </form>
    <form action="/api/question/6116837fea142b7c28444384/answer/611690f2da500a449c2efebb" method="POST">
    <button>Delete</button>
    </form>
    <img src="/Images/Letters/large-letter-a.jpg" alt="" style="width: 100px;height: 100px;">
</body>
</html>